{% import _self as self %}

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<div class="content">

    <script>
        function getFiles() {
            return {{ inDir | json_encode | raw }}
        }
    </script>

    <header>
        <h1>Course Materials</h1>
        {% if userGroup == 1 %}
            <div class="btn-wrapper">
                {# button to open all of the subfolders and cookie it#}
                <a href='javascript:setCookie("foldersOpen",openAllDivForCourseMaterials());' class="btn btn-primary">
                    Open/Close All Folders
                </a>
                {# button to set the release dates of all files in the page/course materials #}
                <a href='javascript:setFolderRelease("{{ folderPath }}","{{ fileReleaseDates[folderPath] }}","{{ id }}",
                        [{% for file in inDir %}
                            "{{ file }}",
                        {% endfor %}]
                        )' class="btn btn-primary">Set All Release Dates</a>
                <a href="javascript:newUploadCourseMaterialsForm()" class="btn btn-primary">Upload Course Materials</a>
            </div>
        {% endif %}
    </header>
    {% if userGroup == 1 %}
        <ul id="details-legend" class="table-bordered">
            <li>
                <i class="fas fa-circle grader-NULL"></i>
                Null date
            </li>
            <li>
                <i class="fas fa-circle grader-invalid"></i>
                Never release for at LEAST 10 years
            </li>
            <li>
                <i class="fas fa-circle grader-3"></i>
                Imminent release in at MOST 10 years
            </li>
            <li>
                <i class="fas fa-circle grader-1"></i>
                Released
            </li>
        </ul>
    {% endif %}
    <div class="inner-container" id="file-container">
        {% if userGroup == 1 %}
            <div id="file-header">
                <div id="release-label"><b>Date to share file with students</b></div>
            </div>
        {% endif %}
        {{ self.display_files(self, submissions, fileShares, fileReleaseDates, "s", 0, 
                              "submissions", userGroup, uploadFolderPath, inDir, display_file_url) }}
    </div>
</div>

{% include('course/SetFolderReleaseForm.twig') %}
{% include('course/UploadCourseMaterialsForm.twig') %}
{% include('course/DeleteCourseMaterialForm.twig') %}

{% macro display_files(self, files, fileShares, fileReleaseDates, id, indent, 
                       title, userGroup, folderPath, inDir, display_file_url) %}
    
    {# Files on top #}
    {% for dir, path in files|filter((path,dir) => path is not iterable) %}
        {% if userGroup != 4 or fileShares[path] == "1" %}
            {{ self.display_file(self, dir, fileShares, fileReleaseDates, path, id ~ "f" ~ loop.index, indent, 
                                 title, userGroup, inDir, display_file_url) }}
        {% endif %}
    {% endfor %}

    {# Directories underneath #}
    {% for dir, path in files if path is iterable %}
        {{ self.display_dir(self, dir, fileShares, fileReleaseDates, path, id ~ "d" ~ loop.index, indent, 
                            title, userGroup, folderPath ~ '/' ~ dir,inDir, display_file_url) }}
    {% endfor %}

{% endmacro %}

{% macro display_file(self, dir, fileShares, fileReleaseDates, path, id, indent, 
                      title, userGroup, inDir, display_file_url) %}
    <div class="file-row">
        {% if userGroup == 1 %}
            <div class="date-cell">
                <input 
                    name="release_date" 
                    id="date_to_release_{{ id }}" 
                    class="date-picker material-time file-date" 
                    type="text" 
                    value="{{ fileReleaseDates[path]}}" 
                    aria-labelledby="release-label"
                    onChange="setNewDateTime(this, '{{ path }}'), determineRelease('date_to_release_{{ id }}',changePermission('{{ path }}','1'))"/>
            </div>
        {% endif %}
        <div class="file-viewer">
            {% for i in 2 .. indent if indent > 1 %}
                <div class="material-indent"></div>
            {% endfor %}
            <div class="material-name">
                <span class="fas fa-file material-icon"></span>
                <span class="material-name">{{ dir | trim }}</span>
            </div>
            {% set dirExtension = dir|split('.')|last|lower %}
            <div class="material-buttons">
                {% if '.' ~ dirExtension in ['.pdf', '.jpg', '.jpeg', '.c', '.cpp', '.s', '.twig', '.py', '.java', '.png', '.txt', '.h', 
                                             '.html', '.php', '.js', '.sql', '.sh', '.md', '.csv', '.salsa', '.erl', '.oz', '.pl', '.hs', '.gif'] %}
                    <a target="_blank" href="{{ display_file_url }}?dir=course_materials&path={{ path | url_encode }}">
                        <i class="fas fa-window-restore" aria-hidden="true" title="Pop up the file in a new window"></i>
                    </a>
                {% endif %}
                <a href='javascript:downloadFile("{{ path | url_encode }}", "course_materials")'>
                    <i class="fas fa-download" aria-hidden="true" title="Download the file"></i>
                </a>
                {% if userGroup == 1 %}
                    <a class="material-time-icon" href='javascript:showDateInput("{{ id }}")'>
                        <i class="fas fa-clock" aria-hidden="true" title="Time"></i>
                    </a>
                    {{ self.delete_button(folderPath, dir, "Delete the file") }}
                {% endif %}
            </div>
        </div>
        <div class="file-viewer-data" id="file_viewerwidth: 100% !important;_{{ id }}" 
             data-file_name="{{ dir }}" data-file_url="{{ path }}"></div>
    </div>
{% endmacro %}

{% macro display_dir(self, dir, fileShares, fileReleaseDates, contents, id, indent, 
                     title, userGroup, folderPath,inDir, display_file_url) %}
    {# Gets rid of "course materials" top directory #}
    {% if indent == 0 %}
        {{ self.display_files(self, contents, fileShares, fileReleaseDates, id, indent + 1, 
                              title, userGroup, folderPath,inDir, display_file_url) }}
    {% else %}
        <div class="div-row">
            {% if userGroup == 1 %}
                <div class="date-cell">
                    {# button to choose release date for all files in folder and subfolders #}
                    <a class="btn btn-primary material-time div-date" href='javascript:setFolderRelease(
                            "{{ folderPath }}",
                            "{{ fileReleaseDates[folderPath] }}",
                            "{{ id }}",
                            [{% for file in inDir %}
                                {% if folderPath in file %}
                                    "{{ file }}",
                                {% endif %}
                            {% endfor %}])'>
                        Set Folder Release Date
                    </a>
                </div>
            {% endif %}
            <div class="div-viewer">
                {% for i in 2 .. indent if indent > 1 %}
                    <div class="material-indent"></div>
                {% endfor %}
                {# button to open each folder #}
                <a id='{{ dir }}' href='javascript:setCookie("{{ folderPath }}",openDivForCourseMaterials("{{ id }}")+"{{ id }}")'>
                    <span class="fas fa-folder material-icon"></span>
                    <span class="material-name">{{ dir | trim }}</span>
                </a>
                <div class="material-buttons">
                    <a href='javascript:downloadCourseMaterialZip("{{ dir }}", "{{ folderPath | url_encode }}")'>
                        <i class="fas fa-download" aria-hidden="true" title="Download the folder"></i>
                    </a>
                    {% if userGroup == 1 %}
                        <a class="material-time-icon" href='javascript:setFolderRelease(
                                "{{ folderPath }}",
                                "{{ fileReleaseDates[folderPath] }}",
                                "{{ id }}",
                                [{% for file in inDir %}
                                    {% if folderPath in file %}
                                        "{{ file }}",
                                    {% endif %}
                                {% endfor %}])'>
                            <i class="fas fa-clock" aria-hidden="true" title="Time"></i>
                        </a>
                        {{ self.delete_button(folderPath, dir, "Delete the folder") }}
                    {% endif %}
                </div>
            </div>
        </div>
        {# <div id='div_viewer_{{ id }}' class="diff-viewer" data-file_name="{{ dir }}"> #}
            {# Recurse #}
            {{ self.display_files(self, contents, fileShares, fileReleaseDates, id, indent + 1, 
                                  title, userGroup, folderPath,inDir, display_file_url) }}
        {# </div> #}
    {% endif %}
{% endmacro %}

{% macro delete_button(path, dir, title) %}
    <a href='javascript:newDeleteCourseMaterialForm("{{ path | url_encode  }}", "{{ dir }}");' title="Delete the folder">
        <i class="fas fa-trash delete-material" aria-hidden="true"></i>
    </a>
{% endmacro %}
